Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 55

SpacesInParentheses: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: Align # Changed from false

BracedInitializerIndentWidth: 4
SpacesInContainerLiterals: false
MaxEmptyLinesToKeep: 1
ContinuationIndentWidth: 4
